<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<h4>Thankyou for Choosing our service. we will deliver you a car on selected day.</h4>
<h2>GS CAR RENTALS</h2>

<table>
  <th>Booked Car Confirmation</th>
  <tr>
    <td>Email</td><td></td>
  </tr>
  <tr>
    <td>Car id</td><td>8</td>
  </tr>
  <tr>
    <td>Car Make</td><td>Dodge</td>
  </tr>
  <tr>
    <td>Car Model</td><td>Charger</td>
  </tr>
  <tr>
    <td>Car Price perday</td><td>$200</td>
  </tr>
</table>

</body>
</html>
